<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if title }}{{ title }} | {{ /if }}MessageFormat 2</title>
    <link rel="stylesheet" href="/static/css/style.css">
    {{ if url == '/' }}
    <script src="/static/js/leader-line.min.js" defer></script>
    <script src="/src/utils.entry.js" inline></script>
    {{ /if }}
    {{ if url.startsWith('/docs/') }}
    <script src="/src/interactive.entry.js" type="module"></script>
    {{ /if }}
    {{ if url == '/playground/' }}
    <script src="/src/playground.entry.js" inline></script>
    {{ /if }}
    <link rel="icon" href="/static/logos/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="icon" href="/static/logos/favicon.svg" type="image/svg+xml">
  </head>
  <body>
    {{ content }}
  </body>
</html>