<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MessageFormat 2</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/leader-line.min.js" defer></script>
    <script src="/src/utils.js" inline></script>
  </head>
  <body>
    {{ content }}
  </body>
</html>