@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/static/fonts/Kalam-400-latin-ext2.woff2') format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/static/fonts/Kalam-400-latin3.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@keyframes slideFadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes slideFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

[data-arrow-to]:not([data-arrow-attached]) {
  opacity: 0;
}

[data-arrow-to] {
  opacity: 1;
  transition: opacity 0.4s ease;
}

@keyframes pulse-bg-blue {
  0% {
    @apply bg-blue-200 p-2 m-1
  }

  50% {
    @apply bg-blue-100 p-3 m-0
  }

  100% {
    @apply bg-blue-200 p-2 m-1
  }
}

.markdown {
  @apply text-lg text-black
}

.markdown h1 {
  @apply text-red-600;
  content: "Don't use h1 in markdown"
}

.markdown h2 {
  @apply scroll-mt-20 text-3xl font-bold font-serif text-black border-b border-gray-200 pb-1 mt-6 mb-4;
}

.markdown h3 {
  @apply scroll-mt-20 text-2xl font-bold font-serif text-black border-b border-gray-200 mt-6 mb-4;
}

.markdown h4 {
  @apply scroll-mt-20 text-xl font-bold font-serif text-black mt-3 mb-4;
}

.markdown p {
  @apply mt-4 mb-4;
}

.markdown a:not(.button) {
  @apply underline underline-offset-4 hover:text-blue-600;
}

.markdown a.button {
  @apply inline-block px-6 md:px-8 py-3 md:py-4 text-lg font-bold text-white rounded-full bg-gradient-to-br from-blue-400 to-blue-600 hover:from-blue-500 hover:to-blue-700 active:from-blue-700 active:to-blue-500 focus:from-blue-700 focus:to-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 focus:ring-offset-white;
}

.markdown .anchor {
  @apply hidden text-blue-900/40;
}

.markdown h2:hover .anchor,
.markdown h3:hover .anchor,
.markdown h4:hover .anchor {
  @apply inline-block
}

.markdown blockquote {
  @apply border-l-4 border-blue-200 bg-blue-100 p-4 my-4;
}

.markdown ul {
  @apply list-disc pl-7;
}

.markdown ol {
  @apply list-decimal pl-7;
}

.markdown li {
  @apply my-0.5;
}

.markdown :not(pre)>code {
  @apply bg-gray-100 p-1 rounded font-mono;
}

.markdown pre {
  @apply bg-gray-100 p-4 rounded font-mono text-base;
}

.markdown mf2-interactive {
  @apply border rounded overflow-clip;
}

.markdown mf2-interactive:not(:has(.header))::before {
  @apply text-xs h-6 flex items-center px-4 justify-between font-medium uppercase;
  content: "TRY IT OUT";
}

.markdown mf2-interactive:not(:has(.header))::after {
  @apply py-2 px-4 text-base block text-gray-400;
  content: "Loading..."
}

.markdown mf2-interactive:not(:has(.header)) pre {
  @apply rounded-none cursor-wait whitespace-pre-wrap;
}

.markdown mf2-interactive:not(:has(.header)) pre:not(:first-of-type) {
  @apply border-t py-2;
}

.markdown mf2-interactive .header {
  @apply text-xs h-6 flex items-center px-4 justify-between;
}

.markdown mf2-interactive .header .title {
  @apply font-medium uppercase;
}

.markdown mf2-interactive .header div {
  @apply flex items-center gap-4
}

.markdown mf2-interactive .header a {
  @apply flex items-center gap-1
}


.markdown mf2-interactive textarea {
  @apply bg-gray-100 p-4 w-full font-mono block text-base outline-none rounded-none focus:ring-2 focus:ring-inset focus:ring-blue-500 focus:ring-opacity-50;
  field-sizing: content;
}

.markdown mf2-interactive textarea.data {
  @apply border-t px-4 py-2;
}

.markdown mf2-interactive .output {
  @apply py-2 px-4 text-base min-h-10;
}

.markdown mf2-interactive .error {
  @apply font-mono text-red-600;
}


mf2-interactive {
  @apply block;
}